{% extends './sidebar.html' %}
{% load static %}

{% block title %}
    {% if request.path == '/f/' %}
        Peliculas
    {% else %}
        Series
    {% endif %}
{% endblock %}

{% block content_film %}

<div id="page-content-wrapper">
    <div class="container container-fluid film-container">
        <div class="row row-cols-3 row-cols-lg-6 g-2 g-lg-3">
            {% for film in films.qs %}
            <div class="col">
                <a href="{% url 'filtered_film' film.tv_type film.id %}">
                <div class="p-2 border bg-light rounded">
                    <img src={{film.photo.url}} class="img-thumbnail">
                    <figcaption class="figure-caption">{{film.title}} ({{film.year}})</figcaption>
                </div>
                </a>
            </div>
            {% empty %}
                <div class="container ">
                    <h3>Ninguna pelicula encontrada</h3>
                </div>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock %}
